#ffmpeg
ffmpeg.exe

#yt-dlp
yt-dlp.exe

#aria2c
aria2c.exe

#output
Output/*

#config for pl-dl
*.pkl

#debug config
*.sublime-project
*.sublime-workspace

#_pycache_
__pycache__/*

#.idea/
.idea/*